[phases.setup]
nixPkgs = ["python311", "python311Packages.pip"]

[phases.install]
cmds = [
  "cd 'Emotion Detection' && python3 -m venv venv && source venv/bin/activate && pip install --upgrade pip && pip install -r requirements.txt"
]

[phases.build]
cmds = [
  "cd 'Emotion Detection' && echo 'Build complete'"
]

